head{
    background-color:cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h4{
    text-align: center;
    font-size: xx-large;
}

body{
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
input{
    padding:5px;
    font: size 10px;
    width:300px;
}
#name-form{
    text-align: center;
    width: 400;
    color:darkslategray;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
#welcome-container{
    text-align: center;
    text-decoration-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#question-container{
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#choices-container{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#results-container{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
