head{
    background-color:cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h4{
    text-align: center;
    font-size: xx-large;
}

body{
    background-color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.name-form{
    color:darkolivegreen;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.welcome-container{
    text-align: center;
    text-decoration-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.question-container{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.choices-container{
    align-items: center;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.results-container{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
